################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
_ReSharper.*
bin
obj
packages
/Src/Presentation/BoxApi.Api/obj/Debug/net6.0
/Src/Presentation/BoxApi.Api/obj
/.vs
/Src/Common/BoxApi.Common/bin/Debug/net6.0
/Src/Common/BoxApi.Common/obj
/Src/Core/BoxApi.Application/bin/Debug/net6.0
/Src/Core/BoxApi.Application/obj
/Src/Core/BoxApi.Domain/bin/Debug/net6.0
/Src/Core/BoxApi.Domain/obj
/Src/Infrastructure/BoxApi.Infrastructure/obj
/Src/Infrastructure/BoxApi.Persistance/bin/Debug/net6.0
/Src/Infrastructure/BoxApi.Persistance/obj
/Tests/BoxApi.Api.Tests/bin/Debug/net6.0
/Tests/BoxApi.Api.Tests/obj/Debug/net6.0
/Tests/BoxApi.Api.Tests/obj
/Tests/BoxApi.Application.Tests/bin/Debug/net6.0
/Tests/BoxApi.Application.Tests/obj
/Tests/BoxApi.Persistance.Tests/bin/Debug/net6.0
/Tests/BoxApi.Persistance.Tests/obj/Debug/net6.0
/Tests/BoxApi.Persistance.Tests/obj
/Src/Infrastructure/BoxApi.Infrastructure/bin/Debug/net6.0
/Tests/BoxApi.Application.Tests/BoxApi.Application.Tests.csproj.user
/Tests/BoxApi.Api.Tests/BoxApi.Api.Tests.csproj.user
/Src/Core/BoxApi.Application/BoxApi.Application.csproj.user
/Tests/BoxApi.Acceptance/bin/Debug/net6.0
/Tests/BoxApi.Acceptance/obj
/Src/Infrastructure/BoxApi.ApiDriver/obj
/Src/Infrastructure/BoxApi.ApiDrivers/bin/Debug/net6.0
/Src/Infrastructure/BoxApi.ApiDrivers/obj
/Infra/BoxApi.Api.ARM/bin/Debug/staging/BoxApi.Api.ARM
/Infra/BoxApi.Api.ARM/obj/Debug
/Tests/BoxApi.Infrastructure.Tests/bin/Debug/net6.0
/Tests/BoxApi.Infrastructure.Tests/obj
/Tests/BoxApi.Common.Tests/obj
/Tests/BoxApi.Common.Tests/bin/Debug/net6.0
/Tests/BoxApi.CommonForTests/obj
/Tests/BoxApi.CommonForTests/bin/Debug/net6.0
/BoxApi.CommonForTests
/BoxApi.Common.Tests
